# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# Environments & Virtualenv
.env
.venv
env/
venv/
ENV/

# IDEs & Editors (PyCharm / IntelliJ / VS Code)
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Operating System files
.DS_Store
Thumbs.db